
.homepage {
  background-color: #f0d69f;
  height: 50em;
  padding: 1em;
}
.homepic {
  z-index: -1;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.2);
}
.title {
  color: #324d5e;
  text-shadow: 2px 2px 6px #324d5e;
  margin-bottom: 1em;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  animation: fadeIn 5s;
  opacity: 90%;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

